.popo-popo__popo {
  background: cornflowerblue;
}
.bottom-grid-controller {
  grid-area: bottombtn;
  display: flex;
  font-family: "CaskaydiaCove Nerd Font", serif;
  /*margin: 0 0 .5rem 0;*/
  font-size: 1rem;
  /*padding: .75rem 1.5rem;*/
  /*border: 0;*/
  text-align: center;
  /*transition: background 0.2s;*/
  background: #d52828;
  /*width: 100%;*/
}

.side-grid-controller {
  background: #d52828;
  grid-area: sidebtn;
  display: grid;
  font-family: "CaskaydiaCove Nerd Font", serif;
  font-size: 1rem;
  border: 0;
  text-align: center;
  overflow-wrap: break-word;
  white-space: normal;
  transition: background 0.2s;
}

.control-button {
  background: #5d705b;
  width: 100%;
  /*height: auto;*/
}

label, input {
  text-align: center;
  display: flex;
  flex-direction: column;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  width: auto;
  opacity: 1;
}

/*.row-affected-quantity {*/
/*  overflow-wrap: break-word;*/
/*  white-space: normal;*/
/*  min-height: 20vh;*/
/*  max-height: 20vh;*/
/*  background: #37d429;*/
/*}*/

.column-form {
  margin-bottom: 0;
}

.col-affected-quantity {
  display: flex;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: .7em;
  padding: 1em 2em 0 1em;
  /*max-width: 20vh;*/
  background: #ff4f1e;
}

.control-button.insert-first__col {
  background: #37d429;
  border-radius: 2rem 0 0 2rem;
}

.control-button.delete-first__col {
  background: #d4296d;
}

.control-button.insert-last__col {
  background: #d4296d;
}

.control-button.delete-last__col {
  background: #37d429;
  border-radius: 0 2rem 2rem 0;
}

.control-button.insert-first__col {
  background: #37d429;
  border-radius: 2rem 0 0 2rem;
}

.control-button.delete-first__col {
  background: #d4296d;
}

.control-button.insert-last__col {
  background: #d4296d;
}

.control-button.delete-last__col {
  /*max-width: 20vh;*/
  background: #37d429;
  border-radius: 0 2rem 2rem 0;
}


.control-button.insert-first__row {
  background: #37d429;
  border-radius: 2rem 2rem 0 0;
}

.control-button.delete-first__row {
  background: #d4296d;
  border-radius: 0 .5rem .5rem 0;
}

.control-button.insert-last__row {
  background: #d4296d;
  border-radius: .5rem 0 0 .5rem;
}

.control-button.delete-last__row {
  background: #37d429;
  border-radius: 0 0 2rem 2rem;
}