label, input {
    /* align-content: center;*/
    /*justify-content: center;*/
    /* text-align: center;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /*width: auto;*/
    justify-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-left: .5em;
    margin-right: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    /*width: auto;*/
    opacity: 1;
}

.bottom-grid-controller {
    grid-area: bottombtn;
    display: grid;
    grid-template-columns: 16vw 16vw 16vw 16vw 16vw;
    font-family: "CaskaydiaCove Nerd Font", serif;
    font-size: 1rem;
    text-align: center;
    /*transition: background 0.2s;*/
    /*background: #d52828;*/
}

@media (min-aspect-ratio: 2/1) {
    .bottom-grid-controller {
        grid-template-columns: 11vw 11vw 6vw 11vw 11vw;
    }
}

.side-grid-controller {
    /*background: #d52828;*/
    grid-area: sidebtn;
    display: flex;
    flex-direction: column;
    font-family: "CaskaydiaCove Nerd Font", serif;
    font-size: 1rem;
    border: 0;
    text-align: center;
    transition: background 0.2s;
}

@media (min-aspect-ratio: 2/1){
    .side-grid-controller {
        width: 5vw;
    }
}

.control-button {
    background: #D42990;
    width: 100%;
    height: 100%;
}

.column-form {
        display: grid;
    align-self: center;
    justify-self: center;
    margin-bottom: 0;
}

.row-form {
        display: grid;
    align-self: center;
    justify-self: center;
    margin-bottom: 0;
}

.row-affected-quantity {
    /*display: grid;*/
    /*align-self: center;*/
    /*justify-self: center;*/
    /*padding: 0 1em 0;*/
    font-size: .7em;
    /*background: #ff4f1e;*/
}

.col-affected-quantity {
    /*display: grid;*/
    /*align-self: center;*/
    /*justify-self: center;*/
    font-size: .7em;
    /*padding: 0 1em 0;*/
    /*background: #ff4f1e;*/
}

.col-affected-quantity input,
.row-affected-quantity input {
    /*display: grid;*/
    /*align-self: center;*/
    /*justify-self: center;*/
    width: 11vw;
}


@media (min-aspect-ratio: 2/1) {
    .col-affected-quantity input,
    .row-affected-quantity input {
        width: 5vw;
    }
}

.control-button.insert-first__col {
    background: #37d429;
    border-radius: 2rem 0 0 2rem;
}

.control-button.insert-last__col {
    background: #37d429;
    border-radius: 0 2rem 2rem 0;
}

.control-button.insert-first__row {
    background: #37d429;
    border-radius: 2rem 2rem 0 0;
}

.control-button.insert-last__row {
    background: #37d429;
    border-radius: 0 0 2rem 2rem;
}
