.fresh-grid-form {
    margin-bottom: 0;
}

.fresh-grid-container {
    display: flex;
    gap: 1vw;
    align-items: end;
}

.fresh-grid-size {
    display: grid;
    font-size: 2vw;
    /*padding-top: .5vw;*/
}

.pattern-container {
    grid-area: pattern;
    padding: 0 2vw;
}

.pattern-select {
    margin: .5vw 0;
    display: flex;
    height: 9vw;
    width: 100%;
}