@import url("https://use.typekit.net/paj1wnf.css");

:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: essonnes-display, serif;
    color: white;
}

html, body {
    /*width: 100vw;*/
    min-height: 100%;
    /*overflow-y: scroll;*/
}

body {
    width: 100%;
    background: radial-gradient(at top left, rgba(146, 43, 225, 1) 0%, rgba(43, 9, 197, 1) 100%) no-repeat;
}

/* layout & nav */
.layout {
    scrollbar-gutter: stable both-edges;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    display: grid;
    grid-gap: .5em;
    grid-row-gap: .5em;
    row-gap: .5em;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "content"
      "footer"
}

@media (min-aspect-ratio: 9/7) {
    .layout {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}

.content {
    grid-area: content;
    object-fit: contain;
    height: auto;
}

nav {
    grid-area: header;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
}

.links {
    display: grid;
    font-size: 4vw;
    grid-gap: 4vw;
    justify-self: right;
    text-align: center;
    align-content: center;
    grid-template-columns: max-content max-content;
    grid-template-areas: "username login-or-out"
}

@media (min-aspect-ratio: 9/7) {
    .links {
        font-size: 1.7vw;
    }
}

.logo {
    display: grid;
    font-size: 5vw;
    justify-self: left;
    align-self: center;
}

@media (min-aspect-ratio: 9/7){
    .logo{
        font-size: 1.5vw;
    }
}

.hellouser {
    grid-area: username;
}

.login-or-out {
    cursor: pointer;
    text-align: center;
    grid-area: login-or-out;
    display: inline-block;
    margin-left: 20px;
    font-weight: 300;
    border-bottom: 3px solid transparent;
}

.login-or-out:hover {
    border-color: white;
}

footer {
    grid-area: footer;
    padding-top: 5px;
}

footer p {
    text-align: center;
    color: #bbb;
    margin: 40px auto;
}

canvas {
    display: flex;
    width: 50vw;
    object-fit: contain;
}

@media (max-aspect-ratio: 9/7) {
    canvas {
        width: 75vw;
    }
}

.form--centered {
    margin: 0 auto;
    padding: 0 1vw;
}

form {
    margin-bottom: 1vw;
}

label {
    display: block;
    font-weight: 300;
    margin-bottom: .25rem;
}

input, textarea {
    color: white;
    display: block;
    width: 100%;
    border-radius: 1vw;
    border: 1px solid #8c789b;
    padding: 1vw;
    margin-bottom: 1vw;
    font-size: 3vw;
}

textarea {
    min-height: 300px;
}

input[type="text"], input[type="password"], input[type="number"] {
    color: black;
}

input[type="text"]:disabled {
    background: #dddddd;
}

.btn {
    background: #D42990;
    font-size: 2vw;
    padding: .75rem 1.5rem;
    border: 0;
    margin: 0 0 .5rem 0;
    display: block;
    width: 80px;
    text-align: center;
    border-radius: .5rem;
    font-weight: bold;
    transition: background 0.2s;
}

@media (min-aspect-ratio: 9/7){
    .btn{

    }
}