@import url("https://use.typekit.net/paj1wnf.css");

:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: essonnes-display, serif;
    color: white;
}

html, body {
    /*width: 100vw;*/
    min-height: 100%;
    /*overflow-y: scroll;*/
}

body {
    width: 100%;
    background: radial-gradient(at top left, rgba(146, 43, 225, 1) 0%, rgba(43, 9, 197, 1) 100%) no-repeat;
}

footer {
    grid-area: footer;
    padding-top: 5px;
}

footer p {
    text-align: center;
    color: #bbb;
    margin: 40px auto;
}

canvas {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 33vw;
    object-fit: contain;
}

@media (max-aspect-ratio: 9/7) {
    canvas {
        width: 75vw;
    }
}

form {
    margin-bottom: 1vw;
}

label {
    display: block;
    font-weight: 300;
    /*margin-bottom: .5vw;*/
    font-size: 2vw;
}

@media (min-aspect-ratio: 9/7) {
    label {
        font-size: 0.9vw;
    }
}

input, textarea {
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
    width: 100%;
    border-radius: 3vw;
    border: 1px solid #8c789b;
    padding: 1vw;
    font-size: 3vw;
}

@media (min-aspect-ratio: 9/7) {
    input, textarea {
        padding: .3vw;
        font-size: 1.1vw;
        border-radius: 1vw;
    }
}

textarea {
    min-height: 300px;
}

input[type="text"], input[type="password"], input[type="number"] {
    color: black;
}

input[type="text"]:disabled {
    background: #dddddd;
}

select, option {
    border-radius: .5rem;
    color: black;
}

label, input {
    display: grid;
    justify-items: center;
    align-items: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    /*width: auto;*/
    opacity: 1;
}

/* layout & nav */
.layout {
    scrollbar-gutter: stable both-edges;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    display: grid;
    grid-gap: .5em;
    grid-row-gap: .5em;
    row-gap: .5em;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "content"
      "footer"
}

@media (min-aspect-ratio: 9/7) {
    .layout {
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

.content {
    grid-area: content;
    object-fit: contain;
    height: auto;
}

.generic-button {
    background-color: #D42990;
    white-space: nowrap;
    font-size: 3vw;
    width: 28vw;
    height: 7vw;
    text-align: center;
    border-radius: 3vw;
    font-weight: bold;
    margin-top: 3vw;
    align-items: center;
    appearance: none;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    justify-content: center;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    position: relative;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform, opacity;
    z-index: 0;
}

@media (min-aspect-ratio: 9/7) {
    .generic-button {
        margin-top: 1vw;
        padding: .5vw 2vw;
        font-size: 1.2vw;
        width: 16vw;
        height: 3vw;
        border-radius: 1.5vw;
    }
}

.generic-button:hover {
    background: #f430a3;
}

.generic-button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.generic-button:focus {
    outline: none;
    border: 1px solid #5800ff;
}

.generic-button:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .6) 0 1px 3px 0, rgba(60, 64, 67, .3) 0 4px 8px 3px;
}

.generic-button:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .6) 0 2px 3px 0, rgba(60, 64, 67, .3) 0 6px 10px 4px;
}

.generic-button:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .6) 0 1px 3px 0, rgba(60, 64, 67, .3) 0 4px 8px 3px;
}

.generic-button:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .6) 0 4px 4px 0, rgba(60, 64, 67, .3) 0 8px 12px 6px;
}

.generic-button:disabled {
    box-shadow: rgba(60, 64, 67, .6) 0 1px 3px 0, rgba(60, 64, 67, .3) 0 4px 8px 3px;
}


.gradient-background-with-shadow {
    border-radius: 3vw;
    background: rgb(145, 42, 224);
    background: radial-gradient(circle, rgba(145, 42, 224, 1) 0%, rgba(91, 25, 210, 1) 100%);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 1px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}