.golWrapper {
    grid-area: gol;
    display: flex;
    object-fit: contain;
    aspect-ratio: 1/1;
    margin: 0 auto;
}

.coordinatesBtn {
    display: inline-block;
    background: #32d429;
    font-size: 3vw;
    padding: 1vw 1.5vw;
    border-radius: 1vw;
    /*margin-top: 20px;*/
    font-weight: 500;
}
