.bottom-grid-controller {
    grid-area: bottombtn;
    display: grid;
    align-self: self-start;
    grid-template-columns: 14vw 14vw 14vw 14vw 14vw;
    grid-gap: 1.25vw;
    font-size: 3vw;
    text-align: center;
    height: 10vw;
    /*transition: background 0.2s;*/
    /*background: #d52828;*/
}

@media (min-aspect-ratio: 9/7) {
    .bottom-grid-controller {
        height: 4vw;
        grid-template-columns: 6.5vw 6.5vw 5.5vw 6.5vw 6.5vw;
        grid-gap: .4vw;
    }
}

.side-grid-controller {
    grid-area: sidebtn;
    display: grid;
    justify-content: center;
    align-content: center;
     grid-template-rows: 14vw 14vw 14vw 14vw 14vw;
    grid-gap: 1.25vw;
    font-size: 3vw;
    text-align: center;
    /*transition: background 0.2s;*/
    width: 10vw;
}

@media (min-aspect-ratio: 9/7) {
    .side-grid-controller {
        width: 4vw;
        grid-template-rows: 6.5vw 6.5vw 5.5vw 6.5vw 6.5vw;
        grid-gap: .4vw;
    }
}

.control-button {
    background: #D42990;
    font-size: 3vw;
    height: auto;
    border-radius: .5rem;
}

.control-button:focus {
    outline: none;
    border: none;
}

@media (min-aspect-ratio: 9/7) {
    .control-button {
        font-size: 1.2vw;
    }
}

.control-button--bottom {
    height: 10vw;
}

@media (min-aspect-ratio: 9/7) {
    .control-button--bottom {
        height: 4vw;
    }
}

.control-button--side {
    width: 10vw;
}

@media (min-aspect-ratio: 9/7) {
    .control-button--side {
        width: 4vw;
    }
}

.column-form {
    display: grid;
    align-self: center;
    justify-self: center;
    margin-bottom: 0;
}

.row-form {
    display: grid;
    align-self: center;
    justify-self: center;
    margin-bottom: 0;
}

.col-affected-quantity,
.row-affected-quantity {
    font-size: 2vw;
}

@media (min-aspect-ratio: 9/7) {
    .col-affected-quantity,
    .row-affected-quantity {
        font-size: 1.3vw;
    }
}

.row-affected-quantity input,
.col-affected-quantity input {
    width: 10vw;
}


@media (min-aspect-ratio: 9/7) {
    .col-affected-quantity input,
    .row-affected-quantity input {
        width: 4vw;
    }
}

.control-button.insert-first__col {
    background: #37d429;
    border-radius: 2rem .5rem .5rem 2rem;
}

.control-button.insert-last__col {
    background: #37d429;
    border-radius: .5rem 2rem 2rem .5rem;
}

.control-button.insert-first__row {
    background: #37d429;
    border-radius: 2rem 2rem .5rem .5rem;
}

.control-button.insert-last__row {
    background: #37d429;
    border-radius: .5rem .5rem 2rem 2rem;
}

.control-button.insert-first__col:hover,
.control-button.insert-last__col:hover,
.control-button.insert-first__row:hover,
.control-button.insert-last__row:hover {
    background: #44f430;
}

