.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4vw;
    align-items: center;
}
.header h2 {
    font-size: 4em;
}
.header h3 {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 20px;
}
