.fresh-grid-form {
    margin-bottom: 0;
}

.fresh-grid-container {
    display: flex;
    align-items: end;
}

.fresh-grid-size {
    display: grid;
    font-size: 2vw;
    padding: 0 1vw 0;
    /*background: #ff4f1e;*/
}



.pattern-container {
    grid-area: pattern;
    padding: 1vw 0;
    background: #7387c4;
}

.pattern-select {
    display: flex;
    height: 50%;
    width: 100%;
}