.fresh-grid-form {
    margin-bottom: 0;
}

.fresh-grid-container {
    display: flex;
}

.fresh-grid-size {
    display: grid;
    font-size: .7em;
    padding: 0 1em 0;
    /*background: #ff4f1e;*/
}

.pattern-container {
    grid-area: pattern;
    background: #7387c4;
}

.pattern-select {
    display: flex;
    height: 50%;
    width: 100%;
}