.play-container {
    grid-area: play;
    display: grid;
    grid-template-columns: 14vw 14vw 14vw 14vw 14vw;
    grid-gap: 1.25vw;
    /*background: #8ad429;*/
    font-size: 2.8vw;
}

@media (min-aspect-ratio: 9/7) {
    .play-container {
        grid-template-columns: 6.5vw 6.5vw 5.5vw 6.5vw 6.5vw;
        grid-gap: .4vw;
        font-size: 2vw;
    }
}

.interval-form {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    /*padding: 0 1em 0;*/
    font-size: 2vw;
}

@media (min-aspect-ratio: 9/7) {
    .interval-form {
        font-size: 1vw;
    }
}

.play-grid-button {
    height: auto;
    white-space: normal;
    font-size: 2.3vw;
    padding: 0 2vw;
}

@media (min-aspect-ratio: 9/7) {
    .play-grid-button {
        font-size: .8vw;
    }
}