.play-container {
    grid-area: play;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
    background: #8ad429;
}

@media (min-aspect-ratio: 2/1) {
    .play-container {
        grid-template-columns: 11vw 11vw 6vw 11vw 11vw;
    }
}

.interval-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 5em;
    margin-bottom: 0;
    padding: 0 1em 0;
    font-size: .7em;
}

/*label {*/
/*    !*width: 100%;*!*/
/*     display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*    !*width: auto;*!*/
/*    justify-items: center;*/
/*    justify-content: center;*/
/*    margin-bottom: 0;*/
/*    margin-left: .5em;*/
/*    margin-right: .5em;*/
/*    padding-top: .2em;*/
/*    padding-bottom: .2em;*/
/*}*/

.play-button {
    background: #D42990;
    width: 100%;
    height: 100%;
}

select, option {
    border-radius: .5rem;
    color: black;
}