.ui-layout {
    display: grid;
    grid-gap: 2vw;
    row-gap: 2vw;
    /*min-height: 80vh;*/
    /*height: 80vh;*/
    /*height: auto;*/
    grid-template-columns: 75vw 10vw;
    grid-template-areas:
      "play      ......."
      "gol       sidebtn"
      "gol       sidebtn"
      "bottombtn ......."
      "pattern pattern"
      "replay replay";
}

@media (min-aspect-ratio: 9/7) {
    .ui-layout {
        grid-template-columns: 45vw 5vw 35vw;
        /*grid-template-rows: 10% auto auto 10%;*/
        /*object-fit: contain;*/
        /*grid-template-columns: 52% 8% auto;*/
        /*grid-template-rows: 8% 44% 44% 10%;*/
        grid-template-areas:
      "play      ....... ......."
      "gol       sidebtn pattern"
      "gol       sidebtn replay"
      "bottombtn ....... .......";
    }
}

